{% load rest_framework %}
{% load core.core_tags %}

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/jqueryui/jquery-ui-1.11.4.custom/jquery-ui.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}{% endblock head %}
    </head>
    <body>
        {% block navigation %}
        <nav>
            <ul class="nav nav-pills navbar-default">
                <li role="presentation" class="{% block nav-home %}{% endblock %}"><a href="/">Home</a></li>
                <li role="presentation" class="dropdown {% block nav-add %}{% endblock %}">
                    <a class="dropdown-toggle " data-toggle="dropdown"
                       role="button"
                       aria-expanded="false">
                        Add <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {% comment %}
                        <li role="presentation">
                            <a href="{% url "add_action" %}">Action</a></li>
                        <li role="presentation">
                            <a href="{% url "add_entity" %}">Entity</a></li>
                        <li role="presentation">
                            <a href="{% url "add_observation" %}">Observation</a></li>
                        {% endcomment %}
                    </ul>
                </li>
                {% url 'api' as url %}
                <li role="presentation"{% if request.path == url %} class="active"{% endif %} >
                    <a href="/api">API</a>
                </li>
                <!--<ul class="nav navbar-nav pull-right">-->
                <li role="presentation" class="pull-right">
                <ul class="nav" id="login-dropdown" >
                    {% block userlinks %}
                        {% if user.is_authenticated %}
                            {% optional_logout request user %}
                        {% else %}
                            {% optional_login request %}
                        {% endif %}
                    {% endblock %}
                </ul>
                </li>
            </ul>
        </nav>
        {% endblock %}


        {% block body %}
        {% endblock body %}



        {# Main Frame Libraries #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
        <script src="/static/js/string.format.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

        {# Third Party Component Libraries #}
        <script type="application/javascript" src="/static/jqueryui/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.js"></script>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-filestyle.js"></script>
        <script type="application/javascript" src="/static/js/log4javascript-1.4.11/log4javascript.js"></script>

        <script type="text/javascript" src="/static/pickadate/picker.js" ></script>
        <script type="text/javascript" src="/static/pickadate/picker.date.js" ></script>
        <script type="text/javascript" src="/static/pickadate/picker.time.js" ></script>

        {# Local Libraries #}
        <script type="application/javascript" src="/static/js/log4javascript_jsonappender.js"></script>
        <script type="application/javascript" src="/static/js/logging.js"></script>
        <script type="text/javascript" src="/static/js/dt_picker.js" ></script>

        <script type="application/javascript" src="/static/js/mixins.js"></script>
        <script type="application/javascript" src="/static/js/binding_handlers.js"></script>

        {% block logger %}
        {# Application Wide Logger #}
        <script type="application/javascript">
            $(document).ready(function(){
                var isMobile = {% to_javascript_bool request.mobile  %};
                var isDebug = {% JSON_DEBUG %};
                if (isMobile) {isDebug = false}
                window.logger = new AppLogger(isDebug)
            });
        </script>
        {% endblock logger %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>