{% extends 'base.html' %}
{% load core.core_tags %}

{% block nav-home %}active{% endblock %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    {% for widget in widgets %}
        {%  render_widget request widget %}
    {% endfor %}
{% endblock %}
{% block scripts %}
    <script type="application/javascript" src="/static/js/core_vm.js"></script>
    {% for widget in widgets %}
        <script type="application/javascript" src="{{ widget.js_viewmodel_script }}"></script>
    {% endfor %}
    <script>
    $(document).ready(function(){
        logger.debug('home', 'Creating home vm');
        var homeVM = new core.HomeViewModel();
        {% for widget in widgets %}
            logger.debug('home.html', 'Creating Widget View Model')
            var vm = eval('new {{ widget.ko_viewmodel }}()');
            var keyName = '{{ widget.ko_with_key }}';
            homeVM[keyName] = vm;
        {% endfor %}
        logger.debug('home.html', 'Applying bindings');
        ko.applyBindings(homeVM)
    });
    </script>
{% endblock %}