<div data-bind="with: entitySelector">
    <div class="form-group">
        <div>
            <label for="available-tag-list">Available:</label>
        </div>
        <select id="available-tag-list" size="5"
                data-bind="
                options:availableTags,
                selectedOptions:selectedAvailable,
                optionsText:'value',
                optionsValue:'id',
                "></select>
        <button type="button" data-bind="visible: selectedAvailable().length > 0,
        click: function(){select()}">Add</button>
    </div>
    <div class="form-group">
        <div>
            <label for="selected-tag-list">Selected:</label>
        </div>
        <select id="selected-tag-list" size="5"
            data-bind="
            options:selectedTags,
            selectedOptions:selectedSelected,
            optionsText:'value',
            optionsValue:'id',
            "></select>
        <button type="button" data-bind="visible: selectedSelected().length > 0,
         click: function(){remove()}">Remove</button>
    </div>
    {% for tag in tags %}
        <span hidden="hidden" data-bind="text: _init_add_tag('{{ tag.id }}', '{{ tag.value }}')"></span>
    {% endfor %}
    <span hidden="" data-bind="text: _init_complete()"></span>
</div>

