textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
select {
  font-size: 20px;
}
#entity-id-column {
  width: 100px;
}
#entity-selectors .bootstrap-filestyle {
  display: inline-table;
  vertical-align: middle;
}
#entity-clear-column {
  width: 42px;
}
#datetime-date-column #datetime-time-column {
  width: 180px;
}
#login-dropdown li ul {
  left: -80px;
}
.well .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: white;
}
#notification-insert #date-column {
  width: 74px;
}
#notification-insert #time-column {
  width: 50px;
}
#photo-insert #photo-upload-column {
  width: 118px;
}
#photo-insert #photo-remove-column {
  width: 10px;
}
.tiny-well {
  padding: 1px;
}
.table > tbody > tr > td {
  padding: 2px;
}
.danger-bg {
  background-color: #f2dede;
}
.success-bg {
  background-color: #dff0d8;
}
.row-selected {
  border: solid red 2px;
}
.note-box,
.note-box-sm {
  font-size: 10px;
  width: 70px;
  height: 24px;
  padding: 4px;
}
.note-box-sm {
  width: 50px;
}
.note-text {
  font-size: 10px;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
